@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

:root{
  --background: rgb(18, 38, 32);
  --light: #F4EBD0;
  --gold: #D6AD60;
  --tan: #B68D40;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  background-color: var(--background);
  color: var(--gold);
}

body::-webkit-scrollbar {
  width: .5em;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--gold);
}

a{
  text-decoration: none;
  color: inherit;
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
