.flip-wrapper{
    width: 450px;
    min-height: 200px;
    height: fit-content;
    border: 3px double var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background);
    background-color: var(--gold);
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.flip-card{
    text-align: center;
}
