.userbar{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: var(--tan);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.userbar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.userbar h2{
    color: var(--background);
    cursor: pointer;
}

.link-wrapper{
    background-color: var(--gold);
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--background);
    cursor: pointer;
}

.link-wrapper:hover{
    background-color: var(--background);
    color: var(--light);
    border: 1px solid var(--light);
}

.column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.logout{
    margin-bottom: 100px;
}